section#about {
    margin-top:100px;
    
    .container {
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "content image"
        "imageTwo contentTwo";


        h2 {
            font-size:2.4rem;
            margin-bottom:20px;
        }

        p {
            line-height: 1.4rem;
            margin-bottom:20px;
        }

        ul {
            margin-bottom:40px;

            li {
                margin:14px 0;

                i {
                    color:$pink;
                }
            }
        }

        a {
            @include pinkLargeButton();
        }
        .about-content, .about-excelent-services {
            margin-top:40px;
        }

        .about-content {
            grid-area:content;
        }

        .about-img {
            grid-area:image;
            margin-bottom:80px;
        }

        .about-excelent-services {
            grid-area:contentTwo;
            margin-left:1.2rem;

            p {
                margin-bottom:40px;
            }
        }

        .about-excelent-img {
            grid-area:imageTwo;
        }
    }
}

@media (max-width:738px) {
    section#about {
        
        .container {
            grid-template-areas:
            "content content"
            "contentTwo contentTwo"!important;
            
            h2 {
                font-size:2.2rem!important;
            }
            
            .about-content {
                margin-top:0!important;

            }

            .about-excelent-services {
                text-align: right;
                margin-left:0!important;
                margin-top:80px!important;
            }

            img {
                display:none!important;
            }
        }
    }
}


@media(min-width:768px) and (max-width:1024px) {
    section#about {

        .about-content,.about-img {
            margin-bottom:80px;
        }

        .about-content,.about-excelent-services {
            
            h2 {
                font-size:2.2rem!important;
            }
        }

        .about-img,.about-excelent-img {
            display:flex;
            align-items: center;
            margin-bottom:40px;
        }

        img {
            width:100%!important;
            margin-bottom:40px;
        }
    }
}