header {
    
    nav {
        height:80px;
        display:flex;
        align-items:center;
        background:white;
        width:100vw;
        position:fixed;
        z-index: 99;

        .container {
            display:grid;
            grid-template-columns:1fr 3fr 1fr;
            
            

            ul {
                display:flex;
                align-items:center;
                justify-content:flex-end;
                margin-top:10px;
                
                li {
                    margin:0 14px;

                    a {
                        font-family:'Montserrat',sans-serif!important;
                        font-weight:500;
                    }
                }
            }

            
            .navbar-button {
                display:flex;
                align-items:center;
                margin-top:10px;
                a {

                    @include pinkLargeButton();
                }
            }

        }

    }
}


@media (max-width:737px) {
    header {
        nav {

            ul {
                display:none!important;
            }
            
            .navbar-button {
                display:none!important;

                a {
                    padding:12px 10px!important;
                }
            }

        }
    }
}

@media (min-width:768px) and (max-width:1024px) {
    header {

        nav {

            .container {
                grid-template-columns: repeat(2,1fr)!important;
                
                .navbar-button {
                    display:none!important;
                }
            }
            
        }
    }

}