section#spotlight {
    background:url('../../assets/img/background.png') no-repeat;
    background-size: cover;
    height:559px;
    padding-top:140px;

    .container {

        .owl-carousel {

            .item {
                
                display:flex;
                align-items: center;
                
                .spotlight-content {
                    
                    h2,p {
                        color:white;
                        margin-bottom:25px;
                    }
    
                    h2 {
                        
                        font-weight: 600;
                        font-size:2.6rem;
                        
                    }
    
                    p {
                        font-size:1.2rem;
                        font-weight: 300;
                        line-height: 1.6rem;
                        max-width:32.0rem;
                    }
                    
                    a {
                        @include pinkLargeButton();
                    }

                }
                    
                img {
                    width:auto!important;
                }
            }

            .owl-dots {
                position:relative;
                width:100%;
                display:flex;
                justify-content: center;
                top:-30px;

                .owl-dot {
                    width:15px;
                    height:15px;
                    background-color:#bcc1c4;
                    border-radius:25px;
                    margin:0 4px;
                    outline: none;
                    transition: 0.5s;
                    
                    &.active {
                        width: 35px;
                        height: 15px;
                        background-color: $pink;
                        transition: 0.5s;
                    }
                }


            }
        }
    }
}

@media (max-width:738px) {
    section#spotlight {
        height:450px;

        .owl-carousel {

            .item {
                
                .spotlight-content {
                    height: 20rem;

                    h2 {
                        font-size:2.2rem!important;
                    }

                }

                img {
                    display:none!important;
                }

            }
        }

        .owl-dots {
            top:0!important;
        }
    }
}


@media(min-width:768px) and (max-width:1024px) {
    section#spotlight {

        .owl-carousel {

            .item {
                
                .spotlight-content {
                    height: 20rem;
                    z-index: 20;

                    h2 {
                        font-size:2.18rem!important;
                    }

                }

                img {
                    position: relative;
                    right:15px;
                }

            }
        }
    }

}