body,html {
    width:100vw;
    height:100vh;    
}

h1,h2,h3,h4,h5 {
    font-family:'Montserrat',sans-serif!important;   
}

h3 {
    color:$pink;
}

li,p,span,strong,small,a {
    font-family:'Lato',sans-serif!important;
    color:$blackBlue;
}

a {
    text-decoration:none;
}


.container {
    max-width:1196px;
    margin:0 auto;
}


@media (max-width:748px) {
    .container {
        width:90vw;
        max-width:auto;
    }
}